
body {
    background-image: url("images/bird.jpg");
    background-size: cover;
    background-attachment: scroll;
    padding-left: 100px;

  }

.container {
    width: 100vw;
    height:100vh;
    position: relative;
}

h1 {
    color: steelblue;
    font-family: "Maiola";
    padding-left: 75px;
    padding-top: 170px;
    font-size: 30px;

}

h2 {
    color: cadetblue;
    font-family: "Maiola";
    padding-left: 75px;
    padding-top: 30px;
    font-weight: 400;
    font-style: italic;

}

p {
    color: cornsilk;
    padding-left: 75px;
    font-family: "Maiola";

}

ul {
    color: cornsilk;
    padding-left: 120px;
    padding-top: 0px;
    font-family: "Maiola";
    list-style-type: cjk-ideographic;
}

ul li {
    margin: 15px;
}

a {
    color: cornsilk;
    text-decoration: none;
}

a:hover {
    color: steelblue;
}
