/* Version 1: Poster Shape */
body {
    /* I'm overriding the default margin and setting it to 0 */
        margin: 0;
    }

.container {
/* I'm giving this a position:relative so I can position other content within it with position:absolute */
    position: relative;

/* This makes the container 100% of the viewport width */
    width: 100vw;

/* This makes the container 100% of the viewport height */
    height: 100vh;
    background-color: rgb(12, 142, 151);
}



  /* .title img{
    position: absolute;
    width: 200px;
    right: 175px;
    top: 200px;
    display: none;
  } */

  /* .title3 {
    position: absolute;
    width: 450px;
    text-align: left;
  }

  .title3 div{
    display: block;
    margin-top: 50px;
    margin-bottom: 40px;
  } */

  .top {
    position: absolute;
    top: 5vh;
    left: 6vw;
    /* width: 10vw;
    display: flex;
    justify-content: flex-end; */
  }

  .breath {
    position: absolute;
    display: block;
    top: 20vh;
    left: 12vw;
    font-family: "aesthet-nova";
    color: white;

  }

  .info{
    position: absolute;
    left: 5vw;
    bottom: 0vh;
    height: 25vh;
    text-align: right;
    /* display: flex;
    justify-content: flex-end; */
  }

  .dots {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border-radius: 100%;
    /* display: inline-block; */
    display:none;
    left: 155px;
    margin: 10px;
    background-color: red;
  }

  .dots div{
    width: 7px;
    height: 7px;
    background-color: skyblue;
    border-radius: 100%;
    /* display: inline-block; */
    display:none;
    left: 155px;
    margin: 10px;
  }

  h1 {
    font-size: 25pt;
    font-family: "swear-display-cilati", sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: lowercase;
    color:rgba(180, 206, 228, 0.726);
    margin-left: 140px;
  }

  h2 {
    font-size: 12pt;
    font-family: "aesthet-nova", serif;
    font-weight: 300;
    font-style: italic;
    color:rgba(169, 216, 247, 0.74);
  }

  h3 {
    font-size: 10pt;
    font-family: "aesthet-nova", serif;
    font-weight: 100;
    font-style: italic;
    line-height: 1.2;
    color:rgba(169, 216, 247, 0.74);
  }

img {
    height: 10vh;
}

.hu {
  letter-spacing: 80pt;
  transition: 3.5s ease-in-out;
}

.hu:hover {
  letter-spacing: 250pt;
  cursor: e-resize;
  color:rgba(115, 144, 170, 0.295);
}

.hu2 {
  letter-spacing: 50pt;
  transition: 3.5s ease-in-out;
}

.hu2:hover {
  letter-spacing: 250pt;
  cursor: e-resize;
  color: rgba(115, 144, 170, 0.295);
}

.xi {
  letter-spacing: 220pt;
  transition: 2.5s ease-in-out;
}

.xi:hover {
  letter-spacing: 30pt;
  cursor: w-resize;
  color:rgb(228, 243, 255);
}

.xi2 {
  letter-spacing: 170pt;
  transition: 2.5s ease-in-out;
}

.xi2:hover {
  letter-spacing: 20pt;
  cursor: w-resize;
  color:rgb(228, 243, 255);
}

.slash{
  transition: 3s;
}

.slash:hover{
  rotate: 359deg;
}
/* 
.slash:hover .xi{
  letter-spacing: 60pt;
  animation-delay: 2s;
} */