/* Hello friends and family if you are reading this you are probably here to be a butt and overanalyze my code well guess what everything that's in here I learned to do in the last two months so get outta here and just enjoy the website. */


body {
        margin: 0;
    }

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(12, 142, 151);
}

.sub {
  display: inline-block;
  width: 12vw;
  height: 10vh;
  text-align: right;
  padding-top: 5vh;
}

  .top {
    height: fit-content;
    width: 12vw;
  }

.info{
    text-align: left;
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 20vh;
    justify-content: space-between;
    position: absolute;
    right: 10vh;
    top: 5vh;
  }


.breath {
    position: absolute;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 20vh;
    left: 12vw;
    font-family: "roca";
    font-style: italic;
    font-weight: 400;
    font-size: 30pt;

  }

  .dots div{
    width: 7px;
    height: 7px;
    background-color: skyblue;
    border-radius: 100%;
    /* display: inline-block; */
    display:none;
    left: 155px;
    margin: 10px;
  }

  h1 {
    font-size: 5vh;
  }

  a {
    text-decoration: none;
  }

  h2:hover {
    color: red;
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    opacity: 100%;
  }

  h2 {
    font-size: 12pt;
    font-family: "roca", serif;
    letter-spacing: 1pt;
    font-weight: 300;
    color:rgb(223, 244, 253);
    opacity: 50%;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
    transition-duration: 2s;
  }

  h3 {
    font-size: 10pt;
    font-family: "aesthet-nova", serif;
    font-weight: 100;
    line-height: 1.2;
    color:rgb(223, 244, 253);
    opacity: 50%;
    ;
  }

.breath img {
    height: 10vh;
}

.hu {
  letter-spacing: 10vw;
  transition: 6s ease-in-out;
  opacity: 50%;
}

.hu:hover {
  letter-spacing: 75vw;
  cursor: e-resize;
  opacity: 10%;
}

.hu2 {
  letter-spacing: 20vw;
  transition: 6s ease-in-out;
  opacity: 50%;
}

.hu2:hover {
  letter-spacing: 75vw;
  cursor: e-resize;
  opacity: 10%;
}

.xi {
  letter-spacing: 60vw;
  transition: 3.5s ease-in-out;
  opacity: 50%;
}

.xi:hover {
  letter-spacing: 5vw;
  cursor: w-resize;
  opacity: 100%;
}

.xi2 {
  letter-spacing: 40vw;
  transition: 3.5s ease-in-out;
  opacity: 50%;
}

.xi2:hover {
  letter-spacing: 0vw;
  cursor: w-resize;
  opacity: 100%;
}

.slash{
  transition: 3s;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 30vw;
  margin-left: 1vw;
  color: rgb(188, 234, 240);
  opacity: 50%;
}

.slash:hover{
  rotate: 359deg;
  opacity: 100%
}

.container2 {
  position: relative;
  width: 100vw;
  height: 140vh;
  background-image: linear-gradient(rgb(12, 142, 151), rgb(1, 60, 75));
  }

  .translation {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80vw;
    height: 30vh;
    left: 12vw;
    top: 10vh;
  }

  #shoesoff {
    position: absolute;
    left: 12vw;
    top: 100vh;

    background-color: #ffffff00;
    border: none;
    color: rgba(201, 240, 245, 0.712);
    padding: 0px 0px;
    text-align: left;
    text-decoration: none;
    font-size: 1.25vw;
    letter-spacing: 5px;
    word-spacing: 5em;
    font-weight: 200;

    width: 80%;

    font-family: "roca";
    font-style: italic;
    transition: 2.75s;
  }

  #shoesoff:hover {
    cursor: pointer;
    color: bisque;
  }

#panels {
  /* background-image: url("images/b3.jpg");
  background-size: cover;
  background-position-y: center; */
  background-image: linear-gradient(rgb(1, 117, 126), rgb(1, 60, 75));
  display: flex;
  /* justify-content: center; */
  align-items: center;
  z-index: 2;
  
}

#pallet {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: url("images/b3.jpg");
  background-size: cover;
  background-position-y: center;
  opacity: 0;
  transition: 3s;
}

.container2a {
  position: relative;
  /* width: 100vw;
  height: 100vh; */
  background-image: linear-gradient(rgb(1, 60, 75), rgb(1, 78, 97));
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; 
  }

  p{
    font-size: 10pt;
    font-family: "aesthet-nova", serif;
    font-weight: 100;
    line-height: 1.2;
    color: rgba(160, 234, 240, 0.74);
    transition: 6s ease-in-out;
  }

  p:hover {
    letter-spacing: 1vw;
    cursor: e-resize;
  }

  .container2a iframe {
    display: block;
    position: absolute;
    top: 30vh;
    left: 12vw;
    width: 75%;
    height: 75%;
    
  }

.container3 {
  position: relative;
  width: 100vw;
  height: 480vh;
  background-image: linear-gradient(rgb(1, 78, 97), rgb(0, 53, 66), rgb(1, 78, 97));
  }

  .row {
    display: flex;
    padding: 0 4px;
    position: absolute;
    top: 30vh;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    display: block;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  } */
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } */


.container5 {
  position: relative;
  width: 100vw;
  height: 125vh;
  background-image: linear-gradient(rgb(1, 78, 97), rgb(25, 146, 155));
  text-align: center;
  }

.container5 input{
  position: absolute;
  width: 50vw;
  left: 25vw;
  bottom: 18vh;
  }

#me {
  transition: 2s;
}

#ty {
  position: absolute;
  width: 50vw;
  left: 25vw;
  bottom: 12vh;
}

.off {
  display: none;
  transition: 3s;
}


.container4 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(107, 172, 189) 5%, oldlace 45%);
  }

.container4 iframe {
    display: block;
    position: absolute;
    top: 20vh;
    left: 20vw;

    width: 60%;
    height: 60%;
  }