@font-face {
    font-family: "Paysage-Regular";
    src: url(fonts/Paysage-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Apfel-Grotezk-Regular";
    src: url(fonts/ApfelGrotezk-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
}


h1 {
    color: papayawhip;
    font-size: 100px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 60px;
}

h2 {

    color: rgb(150, 26, 36);
    font-size: 60px;
    text-align: center;
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: papayawhip;
    font-size: 80px;
    width: 1000px;
    padding-top: 450px;
    line-height: 72px;
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
}

h4 {
    color: rgb(255, 197, 180);
    font-size: 16pt;
    font-weight: 550;
    line-height: 0.9;
}

h5 {
    color: rgb(255, 156, 126);
    text-align: center;
}

#back2 {
    color: rgba(255, 170, 159, 0.966);    
}

a {
    color: linen;
    text-decoration: none;
    transition: 3s;
    animation-timing-function: cubic-bezier(0.2, 0, 0.58, 1);
}

a:hover {
    color: rgb(226, 80, 55);
    transition: 0.75s;
  }

p {
    color: linen;
    width: 90%;
    font-size: 36pt;
    padding-right: 10%;
}

body {
    background-color: salmon;
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    font-family: "EB Garamond";

}

.full-height {
    height: 100%;
}

.home {
    background: url("images1/family.jpg"), rgba(27, 27, 27, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    text-align: center;
    padding-right: 50px;
    min-height: 100%;
    overflow-y: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0;
}

.mother {
    background: url("images1/mama6.jpg"), rgb(236, 133, 122);
    background-blend-mode: soft-light;
    background-size: cover;
    text-align: center;
    padding-right: 50px;
    min-height: 100%;
}

.mother2 {
    background: lightsalmon;
    text-align: center;
    padding-right: 50px;
    min-height: 100%;
}

.daughter {
    background: url("images1/daughter.jpg"), rgb(236, 133, 122);
    background-blend-mode: soft-light;
    background-size: 100%;
    text-align: center;
    padding-right: 50px;
    min-height: 100%;
}

.title {
    color: linen;
    font-size: 18pt;
    letter-spacing: 1px;
    text-align: center;
    margin: auto;
    width: 45%;
    padding: 200px 0;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    line-height: 18pt;
}

#back {
    text-align: center;
    color: rgb(252, 136, 106);
    letter-spacing: 1px;
}

#back:hover {
    color: rgb(212, 67, 41);
}

.nav {
    width: 90%;
    height: 100px;
    position: relative;
}

.previous {
    font-style: italic;
    color: rgb(230, 78, 78);
    font-size: 24pt;
    font-weight: 500;
}
.continue {
    position: absolute;
    right: 0px;
    font-style: italic;
    color: rgb(230, 78, 78);
    font-size: 24pt;
    font-weight: 500;
}

#icon {
    width: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
    transition: 1s;
}

#icon:hover{
    transform: rotate(-30deg);
}

#icon-center {
    width: 50px;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transition: 1s;
}

#icon-center:hover{
    transform: rotate(-30deg);
}